/*
--------COLOURS-------
-light brown: #a79180;
-dark brown: #502204;
-button light green: #70bc22;
-button dark green: #3c8214;
-button:hover light green: #3a7e13;
-button:hover dark green: #255108;
-----------------------------------
*/



html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 700:;
  /*Dosis font weights: 400/Normal 700/Bold 800/Extra Bold*/
}


/*----------------------------HEADER BEGINS----------------------------*/
header{
  text-align: center;
  padding: 1em;
  background-image: url("../images/waves-pattern.png");
  color: #502204;
}

h1{
  background-image: url(../images/beetle.svg),  url("../images/beetle.svg");
  background-repeat: no-repeat;
  background-position: right, left;
  display: inline-block;
  width: 100%;
  font-size: 2.5em;
  margin: 0;
}
/*----------------------------HEADER ENDS----------------------------*/


/*----------------------------NAV BEGINS----------------------------*/

ol{
  padding: 0 ;
  margin: 0;
}

li{
  display: inline-table;
  color: #fff;
  width: 25%;
  background-color: #a79180;
}

nav a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: .5em;
}

a:hover nav{
  background-color: #502204;
  width: 100%;  
}



nav{
  text-align: center;
  font-weight: 800;
}
/*---------------------------------------------------------------------*/


/*----------------------------BANNER BEGINS----------------------------*/
.banner{
  witdh: 100%;
  background-image: url(../images/banner.jpg);
  background-size: 100%;
  text-align: center;
  color: white;
  padding-top: 8em;
  padding-bottom: .6em;
  margin: 0;
  box-shadow: 0 -30px 263px black inset  
}

h2{
  padding: 0em;
  margin: auto;
  width: 75%;
  font-size: 1.3em;
}
/*---------------------------------------------------------------------*/


/*----------------------------BUCKETS BEGIN----------------------------*/
.buckets{
  position: relative;
}

figure{
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}

figure img{
  width: 100%;
  display: block;
}

figcaption {
  background-color: #6cb821;
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 60%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1em;
  padding: 0.5em 1em;
  border-radius: 33px;
  background-image: linear-gradient(to bottom, #70bc22, #3c8214);
  box-shadow: 0px 1px 4px black;
}

a:hover figcaption{
  background-image: linear-gradient(to bottom, #3a7e13, #255108)
}
/*---------------------------------------------------------------------*/


/*----------------------------FOOTER BEGINS----------------------------*/

footer{
  background-color: #a79180;
  width: 100%;
}

footer img{
width: 2em;
margin: .5em;

}
.back-to-top{
  display: block;
  width: .8em;
  margin: 0 auto;
}
/*----------------------------FOOTER ENDS----------------------------*/

