html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 700:;
  /*Dosis font weights: 400/Normal 700/Bold 800/Extra Bold*/
}

.left-beetle{
  float: left;
}





/*----------------------------HEADER BEGINS----------------------------*/

header{
  background-color: grey;
  text-align: center;
  padding: 1em;
}

h1{
  display: inline;
}

.right-beetle{
  float: right;
}

/*----------------------------HEADER ENDS----------------------------*/






/*----------------------------NAV BEGINS----------------------------*/

ol{
  padding: 0 ;
  margin: 0;
}

li{
  display: inline-table;
  background-color: #a08774;
  color: #fff;
  padding: .5em;
  width: 25%;
}

a{
  text-decoration: none;
  color: #fff;
  width: 25%;
}

nav{
  text-align: center;
  font-weight: 800;
}

/*----------------------------NAV ENDS----------------------------*/




/*----------------------------BANNER BEGINS----------------------------*/
/*----------------------------BANNER ENDS----------------------------*/




/*----------------------------BUCKETS BEGIN----------------------------*/

.buckets figure{
  margin: 0;
  padding: 0;
}

.buckets img{
  width: 50%;
  margin: 0;
  padding: 0;
}

/*----------------------------BUCKETS ENDS----------------------------*/



/*----------------------------FOOTER BEGINS----------------------------*/
/*----------------------------FOOTER ENDS----------------------------*/

